src/main/mule/implementation1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="implementation1Flow" doc:id="207d38b0-58f5-4e06-a2f8-429500cce7b7" >
		<ee:transform doc:name="Transform Message" doc:id="0e333bd5-31e3-4e50-ae0f-80adb9a9227a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/retail
---
{
	ns0#CreateProductCategoryRequest: {
		ns0#CreateProductCategory: {
			ns0#id: payload.id,
			ns0#name: payload.name
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="CreateProductCategory" doc:name="Consume" doc:id="d5d4ddd1-c498-4cf8-8e43-b983c513aa6f" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="5c3e42d6-0e4e-4f57-8503-eb69e845c8d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.craftsoftware.com/retail
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="implementation1Flow1" doc:id="8a943dc7-ab65-4109-9d1c-96c2bb4a2c3d" >
		<ee:transform doc:name="Transform Message" doc:id="7fac0ccd-737b-4e79-9277-72752173f83c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/retail
---
{
	ns0#GetAllProductCategorysRequest: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetAllProductCategorys" doc:name="Consume" doc:id="97c82a7d-51b1-434d-8241-a99bf9d3bf20" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="59959670-ce42-4074-927e-fcec7a23ca8a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.craftsoftware.com/retail
---
payload.body.ns0#GetAllProductCategorysResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
